/* First section */
.main_features_info_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 50px 0 40px 0;
}

.main_features_info_header {
  color: var(--primary-text-color);
  font-size: 30px;
}

.main_features_info_desc {
  color: var(--secondary-text-color);
}

.main_features_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 72px;
}

.main_features_list_item {
  display: flex;
  gap: 28px;
}

.main_features_icon {
  min-width: 60px;
  min-height: 60px;
  animation: rotateY-anim 4s linear infinite;
}
@keyframes rotateY-anim {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.main_features_header {
  color: var(--primary-text-color);
  font-size: 16px;
  padding-bottom: 9px;
  line-height: 0.8;
}

.main_features_desc {
  color: var(--secondary-text-color);
  line-height: 1.5;
}
