@import url(../css/styles.css);

/* First section */
.first_section {
  padding-top: 50px;
}

.main_features_info_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.main_features_info_header {
  color: var(--primary-text-color);
  font-size: 30px;
}

.main_features_info_desc {
  color: var(--secondary-text-color);
}

.main_features_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.main_features_list_item {
  display: flex;
  gap: 28px;
  align-items: center;
}
