/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./first-section.css');
@import url('./second-section.css');
@import url('./footer.css');

:root {
  --primary-color: #172755;
  --secondary-color: #ef2a82;
  --additional-color: #0088f0;
  --primary-text-color: #172755;
  --secondary-text-color: #8794ba;
  --body-color: #eeeef6;
  --white-color: #ffffff;

  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 460;
  font-style: normal;

  color: var(--secondary_color);
  background-color: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* .container {
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
} */

.container {
  width: 100%;
}
